*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#welcome-section{
    background:rgb(60, 60, 60);
    height: 100vh;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    
}
#navbar{
    position: fixed;
    width: 100%;
    background: rgb(214, 71, 71);
    height: 80px;
    padding: 10px;
}
#navbar ul{
    display: flex;
    float:right;
    margin-right: 40px;
    padding: 20px;
    list-style: none;
    top: 0;
}
#navbar ul li a{
    color: white;
    padding: 20px;
}
#welcome-section h1{
    text-align: center;
    justify-content: center;
    padding-top: 20rem;
    font-size: 4rem;
    
}
#welcome-section p{
    font-size: 30px;
    font-weight: lighter;
    color: brown;
}